<br />
<h2 align="center">About Us</h2>

<hr />


<table class="table" align="center" border="1">
    <col width="100px" text-align="middle">
    <col width="150px" text-align="middle">
    <col width="650px">
    <col width="200px">
    <thead>
        <tr>
            <th>
                Sr. No.
            </th>
            <th>
                Business Service
            </th>

            <th>
                Description
            </th>

            <th>
                Page Link
            </th>


        </tr>
    </thead>

    <tbody>



        <tr>
            <td>
                1.
            </td>
            <td>
                Company Display
            </td>

            <td>
                We are fetching the list of companies as available on IEX trading and displaying their details such as Company Name, Type, IexId, Dividends, Price, Largest Trade, Split and Previous Records
            </td>

            <td>
                <a id="dbopt" asp-controller="Home" asp-action="Symbols">Companies Details Page</a>
            </td>


        </tr>


        <tr>
            <td>
                2.
            </td>
            <td>
                Dividends
            </td>

            <td>
                Displaying the dividends details of each company, this includes Payment Date, Record Date,  Amount Paid, Type of Dividend, Qualified Dividend.
            </td>

            <td>
                Available from Companies Page after selecting the company.
            </td>


        </tr>

        <tr>
            <td>
                3.
            </td>
            <td>
                Price
            </td>

            <td>
                Displaying the stock price of the requested company, fetched from the IEX Trading.
            </td>

            <td>
                Available from Companies Page after selecting the company.
            </td>


        </tr>



        <tr>
            <td>
                4.
            </td>
            <td>
                Split
            </td>

            <td>
                Displaying the details of the split of the company, with the details of Declared date of Split, Record Date of Split, Payment Date, Ratio of Split, the ToFactor and ForFactor. Currently, the data is not available on IEX trading for this, hence the data might not be getting populated on the website.
            </td>

            <td>
                Available from Companies Page after selecting the company.
            </td>


        </tr>

        <tr>
            <td>
                5.
            </td>
            <td>
                Previous Records
            </td>

            <td>
                Displaying the previous records of the company, this includes open stock price, high price, low price, closing price, volume traded, unadjusted volume, change value, change percentage value and volume weighted average price.
            </td>

            <td>
                Available from Companies Page after selecting the company.
            </td>


        </tr>
        <tr>
            <td>
                6.
            </td>
            <td>
                <font color="red">
                    Largest Trade [Hidden due to error, working on it]
                </font>
            </td>

            <td>
                Displaying the details of largest trade of the company, we are displaying the size of the trade, time of the trade, timelabel of the trade, venue of the trade, name of the trade. Currently, the data is not available on IEX trading for this, hence the data might not be getting populated on the website.

            <td>
                Available from Companies Page after selecting the company.
            </td>


        </tr>

    </tbody>
</table>

<br />
<br />


<h2 align="center">Group 12</h2>

<table class="table" align="center" border="1">
    <col width="200px" text-align="middle">
    <col width="650px">

    <thead>
        <tr>
            <th>
                Team Members
            </th>

            <th>
                Worked on
            </th>
            <th>


                <button onclick="  window.open('https://github.com/khillares/IEX-Trading','_blank')"> Github Page</button>
            </th>

        </tr>
    </thead>

    <tbody>



        <tr>
            <td>
                Arundhathi Patil
            </td>
            <td>
                Worked on saving the data in the database, created methods in the Controller  and Mpodel Classes for the same.
            </td>
        </tr>

        <tr>
            <td>
                Prachi Gupta
            </td>
            <td>
                Worked on the Views to display the data correctly, created the Views and deployed the application.
            </td>
        </tr>
        <tr>
            <td>
                Sudesh Vaijanathrao Khillare
            </td>
            <td>
                Worked on all the APIs, created methods in HomeController to fetch the required details.
            </td>
        </tr>

    </tbody>
</table>