@{
    ViewData["Title"] = "Index";
}

<h2>IEX Trading Application</h2>
<hr />

<div>
    <p>
        This application let's you fetch trading data from IEX via their public
        <a href="https://iextrading.com/developer/">API</a>.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Symbols">Company</a> tab fetches companies data from the
        <a href="https://iextrading.com/developer/docs/#reference-data">IEX Reference API </a> and displays the results.
        This further has links for finding Dividend, Price and Previous stock records of Companies.
        This data can also be saved in the local database.
        
        <br />
       
        <br />
       <b></b><a asp-area="" asp-controller="Home" asp-action="AboutUs">AboutUs</a> </b>
    </p>
    <p>
        The application demonstrates the following -
        <ul>
            <li>Connection to REST API (the example uses IEXTrading, an easy-to-use API that provides stock data)</li>
            <li>Parsing the Json objects returned from the API</li>
            <li>Modeling API results as entities</li>
            <li>Persisting data to a relational database</li>
        </ul>
    </p>
</div>