@{
    ViewData["Title"] = "Price";
}

<h2>Stock Price</h2>


<table class="table">
    <thead>
    <th>
        The Stock Price for Requested Company is
    </th>

    <td>
        @ViewBag.Message
    </td>
    </thead>




</table>
<div>
    <a asp-action="Symbols">Back to List</a>
</div>

